body {
  background-color: black;
}
#root {
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

main {
  position: relative;
  margin-top: 40px;
  height: calc(100vh - 140px);
  overflow: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

.logoMovies {
  width: 45px;
}

.form-control {
  border-radius: 50px !important;
}

.search__Eng {
  position: relative;
}
.searchBar {
  position: absolute;
  color: #f00;
  right: 6%;
  top: 5px;
  font-size: 20px;
}
.sideLeft {
  border-right: 1px solid;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  left: 0;
}

.btn-ganres {
  padding: 10px 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  font-size: 12px;
  background-color: #000;
  color: #fff;
  font-weight: 800;
  margin: 15px 0;
  transition: all 0.2s;
}

.btn-ganres i {
  font-size: 20px;
  color: #ff0000;
}

.btn-ganres span {
  padding: 0 20px;
  letter-spacing: 1.5px;
}
.btn-ganres.active {
  background-color: #ff0000;
}
.btn-ganres.active i {
  color: #fff;
}
.btn-ganres:hover {
  background-color: #ff0000;
}
.btn-ganres:hover i {
  color: #fff;
}

.btn-ganres.active:hover {
  background-color: #ff0000;
}

.sideLeft::-webkit-scrollbar-thumb {
  display: none;
}

.card__img {
  height: 400px;
}

.card__body {
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-corner {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 992px) {
  .sideLeft {
    height: auto;
    display: flex;
    top: 60px;
  }
  .btn-ganres {
    margin: 15px 10px;
    height: 35px;
  }
  .sideLeft::-webkit-scrollbar-thumb {
    display: block;
  }
  main {
    margin-top: 70px;
  }
}

html {
  scroll-behavior: smooth;
}
